body {
    text-align: center;
}

/* styles for modal */
.modal {
    display: none;
    z-index: 1;
    position: absolute;
    top: 20vh;
    left: 40vw;
    width: 188px;
    height: 188px;
    background-color: #0018d2;
    border-radius: 10px;
    border: 1px solid white;
    color: #fff;
    font: bold .8em Arial, sans-serif;
    text-transform: uppercase;

#modalText, .modalBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

/*canvas styles*/

canvas {
    width: 95vw;
    max-width: 505px;
    min-width: 200px;
}